h1 {
    text-align: center;
}

#parent {
    background-color: gray;
    border: 2px solid purple;
    margin: 20px;
    padding: 20px;
}

.child-1 {
    background-color: blue;
    margin: 20px;
    padding: 20px; 
    color: white;
}

.child-2 {
    background-color: red;
    margin: 20px;
    padding: 20px; 
    color: white;
}

.child-3 {
    background-color: green;
    margin: 20px;
    padding: 20px; 
    color: white;
}

#child-4 {
    background-color: fuchsia;
    margin: 20px;
    padding: 20px; 
    color: white;
}